.modal {
  z-index: 100000000050; }
  .modal .modal-content {
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.modal-header {
  text-align: center; }

.modal-body {
  text-align: center; }
